.App {
  text-align: center;
  font-family: 'Old Standard TT', serif;
}
.service:hover {
  background-color: #164e63 !important;
  color: white;
  transform: scale(1.07);
  transition: transform 0.2s ease-out 0s;
}
